html {
  scroll-behavior: smooth;
}

.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu.lateral {
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .dropdown-menu.show.lateral {
    display: flex;
  }
}

.dropdown-menu.lateral ul {
  list-style: none;
  padding: 0;
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.custom-dropdown .dropdown-menu {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  visibility: hidden;
  min-width: 53vw;
}

.custom-dropdown .dropdown-menu:not(.show) .half-col {
  display: none;
}

.custom-dropdown .dropdown-menu .half-col a:last-child {
  margin-bottom: 0;
  border: none;
}

.custom-dropdown .dropdown-menu.show {
  opacity: 1;
  visibility: visible;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background-color: var(--pink);
  border-radius: 15px;
  transition: 0.35s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark);
}

