<!DOCTYPE html>
<html data-bs-theme="dark" lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Mapa do Site | Mini Kraken</title>
    <link rel="canonical" href="https://rpg.arkanus.app/NEW/views/sitemap.html">
    <meta property="og:url" content="https://rpg.arkanus.app/NEW/views/sitemap.html">
    <meta name="twitter:title" content="Mapa do Site | Mini Kraken">
    <meta property="og:description" content="Mapa de ambientação do site, acesse links rapidamente por meio desta pagina.">
    <meta name="twitter:image" content="https://rpg.arkanus.app/assets/img/geral/blobs/names_generate.webp">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="https://rpg.arkanus.app/assets/img/geral/blobs/names_generate.webp">
    <meta name="description" content="Mapa de ambientação do site, acesse links rapidamente por meio desta pagina.">
    <meta name="twitter:description" content="Mapa de ambientação do site, acesse links rapidamente por meio desta pagina.">
    <meta property="og:title" content="Mapa do Site | Mini Kraken">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="../../assets/img/geral/marca/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/geral/marca/icon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/geral/marca/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="180x180" href="../../assets/img/geral/marca/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../assets/img/geral/marca/icon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="../../assets/img/geral/marca/icon/android-chrome-512x512.png">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="../../manifest.json" crossorigin="use-credentials">
    <link rel="stylesheet" href="../../assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body class="bg-dark">
    <section>
        <div class="container">
            <div>
                <h1 class="text-center text-light mb-3 mt-5">Mapa do Site</h1>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4 row-cols-xxl-4 justify-content-between align-items-start">
                <div class="col text-center p-3">
                    <h3 class="text-light">Geral</h3>
                    <div class="row row-cols-1">
                        <div class="col mb-2"><a class="m-2" href="/pt/">Pagina Inicial</a></div>
                        <div class="col mb-2"><a class="m-2" href="/PT/team.html">Equipe</a></div>
                    </div>
                </div>
                <div class="col text-center p-3">
                    <h3 class="text-light">Ferramentas</h3>
                    <div class="row row-cols-1">
                        <div class="col mb-2"><a class="m-2" href="/tools/baralho.html">Cartas de Baralho</a></div>
                        <div class="col mb-2"><a class="m-2" href="/tools/tarot.html">Cartas de Tarot</a></div>
                        <div class="col mb-2"><a class="m-2" href="/tools/names.html">Gerador de Nomes para Personagem</a></div>
                    </div>
                </div>
                <div class="col text-center p-3">
                    <h3 class="text-light">Documentação</h3>
                    <div class="row row-cols-1">
                        <div class="col mb-2"><a class="m-2" href="/posts/changelog.html">Atualizações</a></div>
                        <div class="col mb-2"><a class="m-2" href="/posts/comands.html">Lista de Comandos</a></div>
                        <div class="col mb-2"><a class="m-2" href="/pt/dices.html">Documentação rolagem de dados</a></div>
                        <div class="col mb-2"><a class="m-2" href="/OLD/views/pp.html">Politica de Privacidade</a></div>
                        <div class="col mb-2"><a class="m-2" href="/OLD/views/tos.html">Termos de Uso</a></div>
                    </div>
                </div>
                <div class="col text-center p-3">
                    <h3 class="text-light">Sistemas Suportados</h3>
                    <div class="row row-cols-1">
                        <div class="col mb-2"><a class="m-2" href="/pt/ordem.html">Jogue Ordem Paranormal no discord</a></div>
                        <div class="col mb-2"><a class="m-2" href="/NEW/PT/sistemas/dnd.html">Jogue Dungeons &amp; Dragons no discord</a></div>
                        <div class="col mb-2"><a class="m-2" href="/pt/tormenta.html">Jogue Tormenta20 no discord</a></div>
                        <div class="col mb-2"><a class="m-2" href="/pt/carbon.html">Jogue Carbon no discord</a></div>
                        <div class="col mb-2"><a class="m-2" href="/pt/gaia.html">Jogue Gaia O Preludio no discord</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/bs-init.js"></script>
    <script src="../../assets/js/misc/genCMDs.js"></script>
    <script src="../../assets/js/test.js"></script>
</body>

</html>